{
  "openapi": "3.1.0",
  "info": {
    "title": "Portfolio API",
    "version": "1.0.0",
    "description": "RESTful API for Simon Köck's portfolio projects"
  },
  "servers": [
    {
      "url": "https://api.simonkoeck.com",
      "description": "Production"
    }
  ],
  "components": {
    "schemas": {
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "portfolio-api"
          },
          "title": {
            "type": "string",
            "example": "Portfolio API"
          },
          "description": {
            "type": "string",
            "example": "RESTful API for portfolio projects with OpenAPI documentation"
          },
          "techStack": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "TypeScript",
              "Hono",
              "Zod",
              "OpenAPI"
            ]
          },
          "category": {
            "type": "string",
            "enum": [
              "web",
              "api",
              "cli",
              "library",
              "mobile",
              "other"
            ],
            "example": "api"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "in-progress",
              "archived",
              "concept"
            ],
            "example": "completed"
          },
          "featured": {
            "type": "boolean",
            "example": true
          },
          "links": {
            "type": "object",
            "properties": {
              "github": {
                "type": "string",
                "format": "uri",
                "example": "https://github.com/simonkoeck/portfolio-api"
              },
              "live": {
                "type": "string",
                "format": "uri"
              },
              "demo": {
                "type": "string",
                "format": "uri"
              }
            },
            "example": {
              "github": "https://github.com/simonkoeck/portfolio-api"
            }
          },
          "dates": {
            "type": "object",
            "properties": {
              "started": {
                "type": "string",
                "example": "2024-01-15"
              },
              "completed": {
                "type": "string",
                "example": "2024-02-01"
              },
              "lastUpdated": {
                "type": "string"
              }
            },
            "required": [
              "started"
            ],
            "example": {
              "started": "2024-01-15",
              "completed": "2024-02-01"
            }
          },
          "highlights": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Type-safe routes with Zod validation",
              "Automatic OpenAPI spec generation"
            ]
          },
          "order": {
            "type": "number",
            "example": 1
          }
        },
        "required": [
          "id",
          "title",
          "description",
          "techStack",
          "category",
          "status",
          "featured",
          "links",
          "dates",
          "highlights",
          "order"
        ]
      },
      "CVE": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "CVE-2026-24472"
          },
          "title": {
            "type": "string",
            "example": "Cache Control Bypass in Hono"
          },
          "description": {
            "type": "string",
            "example": "Information disclosure vulnerability caused by improper handling of HTTP cache control directives."
          },
          "severity": {
            "type": "string",
            "enum": [
              "critical",
              "high",
              "medium",
              "low"
            ],
            "example": "high"
          },
          "cvss": {
            "type": "number",
            "example": 7.5
          },
          "product": {
            "type": "string",
            "example": "hono"
          },
          "vendor": {
            "type": "string",
            "example": "honojs"
          },
          "affectedVersions": {
            "type": "string",
            "example": "< 4.11.7"
          },
          "fixedVersion": {
            "type": "string",
            "example": "4.11.7"
          },
          "publishedAt": {
            "type": "string",
            "example": "2026-01-27"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "https://nvd.nist.gov/vuln/detail/CVE-2026-24472"
            ]
          }
        },
        "required": [
          "id",
          "title",
          "description",
          "severity",
          "product",
          "vendor",
          "affectedVersions",
          "publishedAt",
          "references"
        ]
      },
      "BugBounty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "bb-linktree-2025"
          },
          "title": {
            "type": "string",
            "example": "Critical Vulnerability in Linktree"
          },
          "description": {
            "type": "string",
            "example": "Discovered and reported a critical security vulnerability."
          },
          "company": {
            "type": "string",
            "example": "Linktree"
          },
          "severity": {
            "type": "string",
            "enum": [
              "critical",
              "high",
              "medium",
              "low"
            ],
            "example": "critical"
          },
          "cvss": {
            "type": "number",
            "example": 10
          },
          "status": {
            "type": "string",
            "enum": [
              "reported",
              "triaged",
              "resolved",
              "published"
            ],
            "example": "resolved"
          },
          "reportedAt": {
            "type": "string",
            "example": "2025-01-15"
          },
          "resolvedAt": {
            "type": "string",
            "example": "2025-02-01"
          },
          "bounty": {
            "type": "string",
            "example": "$5,000"
          }
        },
        "required": [
          "id",
          "title",
          "description",
          "company",
          "severity",
          "status",
          "reportedAt"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List all projects",
        "description": "Returns a list of all projects with optional filtering",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Filter by technology in tech stack",
              "example": "TypeScript"
            },
            "required": false,
            "name": "tech",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "web",
                "api",
                "cli",
                "library",
                "mobile",
                "other"
              ],
              "description": "Filter by category"
            },
            "required": false,
            "name": "category",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "completed",
                "in-progress",
                "archived",
                "concept"
              ],
              "description": "Filter by status"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by featured status (true/false)"
            },
            "required": false,
            "name": "featured",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/featured": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get featured projects",
        "description": "Returns a list of featured projects",
        "responses": {
          "200": {
            "description": "List of featured projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a project by ID",
        "description": "Returns a single project by its ID",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "portfolio-api"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Project found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Project not found"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Returns the health status of the API",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2024-01-15T12:00:00.000Z"
                    }
                  },
                  "required": [
                    "status",
                    "timestamp"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/security/cves": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "List all CVEs",
        "description": "Returns a list of CVEs discovered by Simon",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "critical",
                "high",
                "medium",
                "low"
              ],
              "example": "critical"
            },
            "required": false,
            "name": "severity",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of CVEs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CVE"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/security/cves/{id}": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "Get a CVE by ID",
        "description": "Returns a single CVE by its ID",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "CVE-2026-24472"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "CVE found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CVE"
                }
              }
            }
          },
          "404": {
            "description": "CVE not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "CVE not found"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/security/bug-bounties": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "List all bug bounty findings",
        "description": "Returns a list of bug bounty findings",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "critical",
                "high",
                "medium",
                "low"
              ],
              "example": "critical"
            },
            "required": false,
            "name": "severity",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of bug bounty findings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BugBounty"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/security/bug-bounties/{id}": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "Get a bug bounty finding by ID",
        "description": "Returns a single bug bounty finding by its ID",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "bb-linktree-2025"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Bug bounty found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BugBounty"
                }
              }
            }
          },
          "404": {
            "description": "Bug bounty not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Bug bounty not found"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
